.settings {
  width: 100%;
  height: 100vh;
  background-image: $backgroundImage;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .menuAnimation {
    animation: fade-out-bck 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .settingsContainer {
    text-align: center;
    height: auto;
    background-color: white;
    border-radius: 20px;
    background: rgba(8, 13, 20, 0.3);
    box-shadow: 0 8px 32px 0 rgba(255, 241, 183, 0.35);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 30px;
    margin-bottom: 10%;
    h1 {
      font-size: 50px;
      color: $thirdColor;
      background-color: $firstColor;
      position: relative;
      text-align: center;
      color: $thirdColor;
      box-shadow: 0 2px 8px 0 $fourthColor;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 40px;
    }
    h2 {
      color: white;
      font-size: 22px;
    }
    hr {
      margin: 15px 0px;
      color: $thirdColor;
    }
    .backtomenuButton {
      width: 100%;
      height: 50px;
      color: white;
      background-color: $firstColor;
      font-family: $font;
      font-size: 25px;
      border-radius: 10px;
      margin-top: 30px;
      border: none;
      cursor: pointer;
      box-shadow: 0 1px 4px 0 $fourthColor;
    }
    .backtomenuButton:hover {
      background-color: lighten($firstColor, $amount: 3);
      box-shadow: 0 2px 8px 0 $fourthColor;
    }
    .audio::-webkit-media-controls {
      display: none;
    }
    .volumeControls {
      margin: 8px 0px;
      .volumeSlider {
        width: 300px;
        height: 5px;
        background: white;
        outline: none;
        transition: opacity 0.2s;
      }
      .volumeSlider::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        background: white;
        cursor: pointer;
      }
      .volumeSlider::-moz-range-thumb {
        border-radius: 50px;
        width: 20px;
        height: 20px;
        background: white;
        cursor: pointer;
      }
    }
    .volumeDisplay {
      font-size: 22px;
      color: white;
    }
  }
}

@keyframes fade-out-bck {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-80px);
    opacity: 0;
  }
}
