$firstColor: rgb(8, 13, 20);
$secondColor: rgb(16, 32, 43);
$thirdColor: rgb(255, 213, 92);
$fourthColor: rgb(255, 241, 183);
$font: "Bakbak One", cursive;
$backgroundImage: url("/assets/images/menu.svg");
